
*{
  margin:0;
  padding:0;
  list-style:none;
  word-wrap: wrap;
}
:root{
  --navbar-height: ;
}
.navbar {
  background-color: #333;
  text-align: center;
  display: flex;
  height: 50px;
  width: 100vw;
  min-width: 98vw;
  max-width: 100vw;
  /* overflow: hidden; */
  margin: 0;
  padding: 8px;
  flex-wrap: nowrap !important;
  font-family: normal;
  font-size: 15.5px;
}

.item{
  display : flex;
  width : auto;
  right:0px;
  margin-bottom:0px;
}

.item li {
  list-style: none;
  margin-left : 10px;
  margin-right : 10px;
}

.other{
  display : flex;
  width : 70vw;
  height:50px;
}

.search{
  margin : 10px;
  display : flex;
  justify-content: space-around;
  width : 15vw;
  height : 30px;
  background-color : #cbcfcf;
  border-radius : 5px;
}

.main{
  /* height: calc(100vh - 50px); */
  background-color: #ededed;
  justify-content:center;
  left : 0px;
  z-index: -1;
  width:100vw;
  height: calc(100vh - 50px);
  /* animation: sizeofmenuforapp 0.5s ease forwards; */
}

.menuiconbtn{
  background-color: #3b3a3a;
  width: 30px;
  height:30px;
  justify-content:center;
}

.menubtnlipar{
  position: relative;
  width: 30px;
  left:15px;
  top:15px;
  height:30px;
  justify-content:center;
  padding-left:0px;
}

#webnamepar{
  margin:0px;
  padding:0px;
}

.menubtnpar{
  width: 30px;
  height:30px;
  justify-content:center;
}

.menu{
  background-color: #1a1a1a;
  margin:0;
  padding:0;
  height: calc(100vh - 50px);
  width: 150px;
  position: absolute;
  z-index: 1;
  justify-content : center;
  animation: sizeofmenu 0.2s linear forwards;
}

.root{
  display : flex;
}

.menubtnbody{
  background-color: #1a1a1a;
  height: 40px;
  width: 150px;
  margin: 0px;
  text-align: center;
  padding: 0px;
  border : 0px;
  justify-content : center;
  color : #dfd7d7;
}

.menubtnbodybutton:hover{
  background-color: #2a2a2a;
}

.btnpar{
  display : flex;
  justify-content : center;
}

a:visited{
  color: blue;
}

#singin:visited{
  color : white;
}

#singinpar{
  width : 50px;
  height : 30px;
}

.singinup{
}

.singinup:visited{
  color : white;
}

.singinuppar{
  width : 50px;
  height : 30px;
}

.menuopen{
  height: calc(100vh - 50px);
  left: 0;
  position:relative;
  animation: sizeofmenu 0.2s linear forwards;
}

#menuandapppar{
  display:flex;
  width:100vw;
}

#menu-root{
  /* height: 0px;
  width: 0px; */
  position:relative;
  left: 0;
}

.menuopenforapp{
  /* width:calc(100vw - 150px);
  height: calc(100vh - 50px); */
  width: calc(100vw - 150px);
  height: calc(100vh - 50px);
  animation: sizeofmenuopenforapp 0.2s linear forwards;
}

@keyframes sizeofmenuopenforapp{
  from{
    width:100vw;
  }

  to{
    width:calc(100vw - 150px);
  }
}

@keyframes sizeofmenu {
  from{
    left: 0;
    width:0px;
  }

  to {
    left: 0;
    width: 150px;
  }
}

.project{
  height:auto;
}

.project *{
  padding:2px;
  width:calc(100% - 4px);
}

.red{
  color:red;
}